.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--page-background-color);
}


.header {
  display: grid;
  position: relative;
  min-block-size: 100vh;
  padding: 20px;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--header-background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  border: none;
  color: var(--btn-color);
  text-align: center;
  background: transparent;
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}


.decorative__element {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding-right: 8px;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  text-transform: uppercase;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}



.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
}



.header__title {
  margin-left: -20px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--sub-text-color);
  background-color: var(--accent-color);
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}



.sec-title {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--btn-color);
}



.sec-text {
  font-size: var(--font-size);
  color: var(--text-color);
}



.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}



.sec-one {
  display: grid;
  margin: 0 20px;
  padding-block-start: 60px;
  grid-template-columns: 34% 66%;
}

.question__section-answer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.question__section-answer p:first-of-type {
  padding-block-end: 10px;
}



.sec-two {
  margin: 0 20px;
  padding-block-start: 80px;
  padding-block-end: 80px;
}

.question__section-answer-two-container {
  display: grid;
  padding-block-start: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.question__section-title-two {
  max-inline-size: 315px;
}

.question__section-answer-title-two {
  margin-block-end: 10px;
}



.sec-three {
  display: grid;
  margin: 0 20px;
  padding-block-end: 80px;
  grid-template-columns: 34% 66%;
}

.question__section-answer-subtitle {
  margin-block-start: 20px;
  font-weight: 400;
}

.question__section-answer-three {
  display: grid;
  gap: 20px;
}

.question__section-answer-text-three {
  padding-block-start: 10px;
}



.question__section__image {
  padding-block-end: 60px;
}

.question__section-title-image {
  margin: 0 20px 20px 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  display: flex;
  position: relative;
  min-block-size: 100vh;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--page-background-color);
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}



@media (max-width:768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: flex-end;
    gap: 13px;
    flex-direction: column;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .sec-one {
    padding-inline-end: 20px;
    grid-template-columns: 33% 67%;
    gap: 20px;
  }

  .question__section-answer-two-container {
    display: flex;
    padding-block-start: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }

  .sec-three {
    display: grid;
    padding-block-end: 80px;
    grid-template-columns: 35% 65%;
  }

  .footer {
    display: flex;
    padding: 20px;
    justify-content: center;
  }
}



@media (max-width:560px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .sec-one {
    display: flex;
    margin: 0px 10px;
    padding: 40px 0 0 0;
    gap: 20px;
    flex-direction: column;
  }

  .sec-two {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-inline-end: 0;
    padding-block-end: 50px;
  }

  .question__section-title-two {
    min-inline-size: 355px;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
  }

  .sec-three {
    display: flex;
    margin: 0 10px;
    padding-block-end: 50px;
    gap: 20px;
    flex-direction: column;
  }

  .question__section__image {
    padding: 0 0 40px 0;
  }

  .question__section-title-image {
    margin: 0 10px 10px 10px;
  }

  .gallery {
    display: flex;
    margin: 0 10px;
    gap: 10px;
    flex-direction: column;
  }

  .footer {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    margin: 10px;
    block-size: 25px;
  }
}
